.DTTT_button embed {
    width: 50px;
    height: 24px;
}
a{
  cursor:pointer;
}

h3#tagline {
  font-weight: 400!important;
  font-size: 18px;
  color: #E5E5E5;
  text-transform: uppercase;
  margin-top: 20px;
}

div#banner{
  background-color: #fff;
  background-image: url('/images/bg_mid.png'),url('/images/bg_mid_back.png');
  background-repeat: no-repeat,repeat;
  background-position: top center,top left;
  min-height: 18.0em;
  padding-bottom: 1px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(17,17,17,1);
  
  text-align:center; 
}











div#mainsection ul{
    padding-top: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px black solid; */
    
}

div#mainsection .featurebox{
    padding-left: 10%;
}


div#mainsection ul img{
    margin-top: -6px;
    position: absolute;

}

div#mainsection ul span{
    margin-left: 40px;
}

div#mainsection a{
    color: #f48000;
    font-size: 17px;
    font-weight: 680;
}

div#mainsection li p{
    font-size: 15px;
    line-height: 1.4em;
    margin-bottom: 35px;
    margin-top: 15px;

    
}


div#mainsection li{
    width: 250px;
    list-style-type: none;
    display: inline-block;
    margin-right: 3%;
    min-height: 135px;
    vertical-align: top;
}

.featurebox .section-title{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#myTabContent, #tabs{
    padding-right: 50px;
    padding-left: 50px;                            
}
#myTabContent{
    padding-top:40px; 
}
#bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#submit{
    margin-top:2em;
    width:100px;
}







      
